<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
  <appSettings>
    <!-- If full ConfigPath is ommited then it will look in executable direcory. -->
    <add key="ConfigPath" value=""/>

    <!-- If full ConfigFile is ommited then it will use "MTOvJoyFeeder.json". -->
    <add key="ConfigFile" value="MTOvJoyFeeder.json"/>

    <add key="ErrorsBeforeJoystickRemoval" value="500"/>
  </appSettings>
</configuration>
