<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!-- If full ConfigPath is ommited then it will look in executable direcory. -->
    <add key="ConfigPath" value="" />
    <!-- If full ConfigFile is ommited then it will use "MTOvJoyFeeder.json". -->
    <add key="ConfigFile" value="MTOvJoyFeeder.json" />
    <!-- Maximum number of errors before removing a Joystick from monitoring. -->
    <add key="ErrorsBeforeJoystickRemoval" value="500" />
    <!-- If set to true messages will be sent to the event log. Requires Admin privalages for the first run to generate the initial log. -->
    <add key="EnableEventLogging" value="false" />
    <!-- Milliseconds to sleep between buffer checks. -->
    <add key="SleepTime" value="50" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    
    <!-- On exit unplugs ALL virtual controllers controlled by any application, default is false. -->
    <add key="EnableUnPlugForce" value="true" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>